@media (min-width: 768px) {
.home-1{
    flex: 0 0 48%;
    max-width: 48%;
}
}
@media (max-width: 768px) {
    .img1 {
        height: 200px;
    }
}
@media (max-width: 576px) {
    .img1 {
        height: 150px;
    }
}