@media (min-width: 768px) {
    .home-1{
        flex: 0 0 48%;
        max-width: 48%;
    }
    iframe {
        height: 1000px;
    }
}
@media (max-width: 768px) {
    .img1 {
        height: 200px;
    }
    iframe {
        height: 700px;
    }
}
@media (max-width: 576px) {
    .img1 {
        height: 150px;
    }
    iframe {
        height: 500px;
    }
}
.main {
    border: 1px solid rgb(187, 187, 187); 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
iframe {
    width: 100%;
}
