{% extends 'base.html' %}

{% block head_title %}{% endblock head_title %}

{% block content %}
<section class="container-fluid" style="border: 1px solid green;">
  <div class="row text-right bg-success">
    <h2 class="col-12 mr-5 pr-5 my-4" dir="rtl">1)وثائق وزارية</h2>
  </div>

  <div class="row" style="height: 100px">
  </div>

  <div class="row text-right bg-success">
    <h2 class="col-12 mr-5 pr-5 my-4" dir="rtl">2) تحميل مذكرات الأستاذ محمد أنشطاين</h2>
  </div>

</section>
{% endblock content %}