{% extends 'base.html' %}

{% block head_title %}تمارين مع الحلول العلوم الفيزيائية {{ wihda.school.school_year }}{% endblock head_title %}

{% block meta %}تمارين مع الحلول {{ wihda.school.school_year }} {{ wihda.name }}{% endblock meta %}

{% block content %}
<section class="container main my-5 py-5">
  {% include 'navigation.html' %}

  <h3 class='text-right text-dark my-5'>تمارين مع الحلول من إعداد الاستاذ بوشناف محمد</h3>

  <div class="table-responsive">
    <table class="table table-striped table-bordered text-right">
      <thead>
        <tr>
          <th>تمارين مع الحلول</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
        <tr>
          <td>
            {% if exercise.solution_link is None %}
            <small class="text-secondary mr-3">(سيتم إضافة حل لهذا التمرين لاحقا)</small>
            {% endif %}
            <a dir="rtl" {% if exercise.solution_link is None %} title='سيتم إضافة حل لهذا التمرين لاحقا' {% endif %}
              href='{% url "core:exercise" exercise.pk %}'>
              تحميل {{ exercise.short_name }} {% if exercise.solution_link is not None %}مع الحل{% endif %}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock content %}