{% extends 'base.html' %}
{% load static %}


{% block head_title %}بنك الفيزياء للتمارين والإمتحانات{% endblock head_title %}
{% block meta %}
بنك الفيزياء للتمارين والإمتحانات ،تمارين محلولة للطور الثانوي ، سنة أولى ثانوي كل الشعب ، سنة ثانية ثانوي كل الشعب ،
سنة ثالثة ثانوي لكل الشعب ، ملخصات دروس و حوليات بكالوريا كل ما تحتاجه للتفوق
{% endblock meta %}

{% block content %}
<section class="container">
  <div class="row my-3">
    <div class="col-12">
      <div dir='rtl' class="alert alert-info alert-dismissible fade show text-right">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        نرحب بكم في موقع بنك الفيزياء للتمارين والإمتحانات ونعلمكم أن هذا الموقع قيد التطوير.
      </div>
      <div class='row'>
        <img class="col-6 offset-3 img1" src="{% static 'img/img1.png' %}" alt='موقع فيزياء العوام'>
        <div class="card col-8 offset-2 border-secondary mt-4 px-0"
          style="border: 1px solid white; margin-right: auto;">
          <img src="{% static 'img/img2.png' %}" alt='موقع فيزياء العوام' style="width: 100%;">
        </div>
        <div class="card col-8 offset-2 border-secondary mt-4 px-0" style="border: 1px solid white;">
          <a href="{% url 'core:first_year' %}">
            <img src="{% static 'img/img3.png' %}" alt='السنة الأولى ثانوي' style="width: 100%;">
          </a>
        </div>
        <div class="card col-8 offset-2 border-secondary mt-4 px-0" style="border: 1px solid white;">
          <a href="{% url 'core:second_year' %}">
            <img src="{% static 'img/img4.png' %}" alt='السنة الثانية ثانوي' style="width: 100%;">
          </a>
        </div>
        <div class="card col-8 offset-2 border-secondary mt-4 px-0" style="border: 1px solid white;">
          <a href="{% url 'core:third_year' %}">
            <img src="{% static 'img/img5.png' %}" alt='السنة الثالثة ثانوي' style="width: 100%;">
          </a>
        </div>
        <div class="card col-8 offset-2 border-secondary mt-4 px-0" style="border: 1px solid white;">
          <img src="{% static 'img/img6.png' %}" alt='االوثائق اللازمة للأستاد' style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}