{% extends 'base.html' %}

{% block head_title %}
مذكرات و أعمال مخبرية العلوم الفيزيائية {{ wihda.school.school_year }} {{ wihda.name }} {{ exc.name }}
{% endblock head_title %}

{% block content %}
<section class="container main my-5 py-5">
  <nav class="font-weight-bold text-right mt-3" dir='rtl' style='font-size: x-large;'>
    <a href="{% url 'index' %}">
      <span class="fa fa-home"></span> الرئيسية
    </a>
    »<a href="{% url 'core:school_year' wihda.school.school_year %}">
      فيزياء {{ wihda.school.school_year }}
    </a>
    » <a href="{% url 'core:modakirat_wihda' %}?wihda={{ wihda.name }}&school_year_id={{ wihda.school.id }}">
      {{ wihda.name }}
    </a>
    » <span class='text-dark'>{{ modakira.short_name }}</span>
  </nav>

  <h3 class='text-right text-dark my-5'>
    مذكرات و أعمال مخبرية {{ wihda.name }} من إعداد الاستاذ بوشناف محمد
  </h3>
  <p class="text-right my-5" dir="rtl">
    للتحميل
    <a dir='rtl' href='https://drive.google.com/uc?export=download&id={{ id_modakira }}'>
      إضغط هنا
    </a>
  </p>

  <iframe src="https://drive.google.com/file/d/{{ id_modakira }}/preview"></iframe>

</section>
{% endblock content %}