{% extends 'base.html' %}

{% block head_title %}ملخص {{ wihda.name }} العلوم الفيزيائية {{ wihda.school.school_year }}{% endblock head_title %}

{% block content %}
<section class="container main my-5 py-5">
  {% include 'navigation.html' %}

  <h3 class='text-right text-dark my-5'>
    ملخص {{ wihda.name }} العلوم الفيزيائية{{ wihda.school.school_year }} من إعداد الاستاذ بوشناف محمد
  </h3>

  <div class="table-responsive">
    <table class="table table-striped table-bordered text-right">
      <thead>
        <tr>
          <th>الملخصات</th>
        </tr>
      </thead>
      <tbody>

        {% for summary in summaries %}
        <tr>
          <td>
            <a href="{% url 'core:summary' summary.pk %}">تحميل {{ summary.short_name }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock content %}