<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a  dir="rtl" href="#" class="navbar-brand">بنك الفيزياء للتمارين والإمتحانات</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <form class="form-inline ml-auto">
      <div class="input-group">                    
        <input type="text" class="form-control text-right" placeholder="بحث">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
        </div>
      </div>
  </form>
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link">الرئيسية</a>
      <a href="#" class="nav-item nav-link">مخبر العلوم الفيزيائية</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">فضاء الأستاذ</a>
        <div class="dropdown-menu dropdown-menu-right text-center">
          <a href="#" class="dropdown-item">السنة أولى ثانوي</a>
          <a href="#" class="dropdown-item">السنة الثانية ثانوي</a>
          <a href="#" class="dropdown-item">السنة الثالثة ثانوي</a>
          <a href="#" class="dropdown-item">سنة أولى ثانوي - ج م آداب</a>
          <a href="#" class="dropdown-item">سنة ثانية ثانوي - آداب وفلسفة</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">فضاء التلميذ</a>
        <div class="dropdown-menu dropdown-menu-right text-center">
          <a href="#" class="dropdown-item">تلاميذ الثالثة ثانوي</a>
          <a href="#" class="dropdown-item">تلاميذ الأولى ثانوي</a>
          <a href="#" class="dropdown-item">تلاميذ الثانية ثانوي</a>
        </div>
      </div>
    </div>
  </div>
</nav>