<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a dir="rtl" href="{% url 'index' %}" class="navbar-brand">بنك الفيزياء للتمارين والإمتحانات</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav ml-auto">
      <a href="{% url 'index' %}" class="nav-item nav-link">الرئيسية</a>
      <a href="{% url 'core:school_year' 'الثالثة ثانوي' %}" class="nav-item nav-link">السنة الثالثة ثانوي</a>
      <a href="{% url 'core:school_year' 'الثانية ثانوي' %}" class="nav-item nav-link">السنة الثانية ثانوي</a>
      <a href="{% url 'core:school_year' 'الأولى ثانوي' %}" class="nav-item nav-link">السنة الأولى ثانوي </a>
    </div>
  </div>
</nav>